body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("배경.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #f5f5dc;
  width: max;
}

h1 {
  margin-right: 500px;
  color: rgb(228, 235, 34);
  font-size: 45px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(61, 38, 11, 0.5);
  height: 70px;
}

header .logo {
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

header h1 {
  margin: 0;
  margin-left: 5px;
  font-size: 35px;
  color: #fff700;
}

header .title {
  display: flex;
  gap: 5px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.search-bar input {
  padding: 8px;
  font-size: 15px;
  flex: 1 0 auto;
  max-width: 200px;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #ececec00;
  outline: none;
}

.search-bar ::placeholder {
  color: #fff700;
}

.search-bar .bi {
  width: 20px;
  cursor: pointer;
}

#search-button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  background-color: #ececec00;
  cursor: pointer;
}

i {
  font-size: 24px;
}

.ranked-wrapper {
  position: relative;
}

.featured {
  display: flex;
  overflow-x: auto;
  position: relative;
  margin-top: 25px;
  margin-left: 85px;
  margin-right: 75px;
  padding-left: 10px;
  justify-content: space-between;
}

/* 스크롤바의 색상 및 너비 설정 */
.featured::-webkit-scrollbar {
  width: 5px;
  height: 2.5px;
}

.featured::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 6px;
}

.featured::-webkit-scrollbar-thumb {
  background-color: rgba(133, 80, 19, 0.678);
  border-radius: 6px;
}

.featured-game {
  display: inline-block;
  margin: 35px 45px;
}

.featured-game img {
  width: 330px;
  height: 230px;
  border-radius: 42px;
  position: relative;
  z-index: 2;
}

.rank-number {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #909090;
  font-size: 180px;
  position: absolute;
  top: 50px;
  transform: translateY(-45%);
  z-index: 1;
  left: -70px;
}

.rank-number1 {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #909090;
  font-size: 180px;
  position: absolute;
  top: 50px;
  transform: translateY(-45%);
  z-index: 1;
  left: -55px;
}

.rank {
  cursor: pointer;
}

.scroll-container {
  cursor: pointer;
}

.game img {
  width: 150px;
  height: 110px;
  margin: 5px;
}

h2 {
  font-weight: 1000;
  color: rgb(217, 217, 217);
  -webkit-text-stroke: 1.8px rgb(86, 86, 86);
  font-size: 35px;
  margin-top: 0px;
}

.recommendation {
  margin-left: 15px;
}

.new {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.scroll-content {
  overflow-x: auto;
  display: flex;
  margin-right: 15px;
}

.scroll-content::-webkit-scrollbar {
  width: 5;
  height: 2.5px;
}

.scroll-content::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.641);
  border-radius: 6px;
}

.scroll-content::-webkit-scrollbar-thumb {
  background-color: rgba(133, 80, 19, 0.678);
  border-radius: 6px;
}

.game {
  display: inline-block;
  margin: 0px;
}

.game img {
  width: auto;
}

.game-wrap {
  display: none;
}

@media (max-width: 1490px) {
  .featured-game img {
    width: 300px;
    height: 200px;
  }

  .featured {
    margin-left: 80px;
    margin-right: 70px;
  }

  .rank-number {
    font-size: 160px;
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    z-index: 1;
    left: -60px;
  }

  .rank-number1 {
    font-size: 160px;
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    z-index: 1;
    left: -55px;
  }
}

@media (max-width: 1382px) {
  .featured-game img {
    width: 280px;
    height: 180px;
  }

  .featured {
    margin-left: 75px;
    margin-right: 65px;
    justify-content: space-between;
  }
}

@media (max-width: 1270px) {
  .featured-game img {
    width: 270px;
    height: 170px;
  }

  .featured {
    margin-left: 70px;
    margin-right: 65px;
  }

  .rank-number {
    font-size: 140px;
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    z-index: 1;
    left: -53px;
  }

  .rank-number1 {
    font-size: 140px;
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    z-index: 1;
    left: -48px;
  }
}

@media (max-width: 1024px) {
  .top-bar {
    padding: 5px 0;
    justify-content: center;
  }

  header .logo {
    margin-left: 10px;
    width: 60px;
  }

  header img.logo {
    width: 50px;
    height: auto;
    margin-right: 0;
  }

  header h1 {
    font-size: 23px;
  }

  header .title {
    display: flex;
    gap: 4px;
  }

  .search-bar {
    margin-right: 5px;
    justify-content: flex-end;
  }

  .search-bar input {
    max-width: 150px;
    max-height: 10px;
  }

  .search-bar ::placeholder {
    font-size: 13px;
  }

  .featured {
    display: none;
  }

  .game-wrap {
    position: relative;
    display: block;
  }

  .game-wrap img {
    position: relative;
    z-index: 1;
  }

  .play-now {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 0;
    width: 160px;
    margin-right: 30px;
    display: flex;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    justify-content: flex-end;
  }

  .play-content {
    position: relative;
    top: 3.6px;
  }
}

.play-now i {
  font-size: 30px;

  .slideshow-container {
    cursor: pointer;
  }

  .featured-game.active {
    display: inline-block;
  }

  .featured-game img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  h2 {
    font-size: 28px;
    font-weight: 1000;
    -webkit-text-stroke: 1.5px rgb(86, 86, 86);
    margin-top: 0px;
  }

  .scroll-content {
    overflow-x: hidden;
    white-space: normal;
    display: block;
  }

  .game img {
    width: 140px;
    height: 100px;
    margin: 5px;
  }
}

.slideshow-container {
  max-height: 800px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.mySlides img {
  height: 500px;
  cursor: pointer;
}

.dot {
  height: 9px;
  width: 9px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 45px;
  z-index: 3;
}

.active {
  background-color: #000000;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .mySlides img {
    height: 400px;
  }

  .game img {
    width: 130px;
    height: 90px;
  }
}

@media (max-width: 800px) {
  .mySlides img {
    height: 350px;
  }
}

@media (max-width: 700px) {
  .mySlides img {
    height: 300px;
  }

  .play-now {
    position: absolute;
    bottom: 30px;
    width: 160px;
    margin-right: 25px;
    font-size: 22px;
  }

  .play-content {
    position: relative;
    top: 3.6px;
  }

  .play-now i {
    font-size: 28px;
  }

  .dot {
    height: 8px;
    width: 8px;
    margin: 0 3px;
  }
}

@media (max-width: 650px) {
  .top-bar {
    flex-direction: column;
    padding-top: 0px;
    /* 여백 줄이기 */
  }

  header {
    display: flex;
    align-items: center;
    height: 83px;
  }

  header img.logo {
    margin: 0px;
    width: 40px;
    height: auto;
    display: block;
    position: relative;
    top: 18px;
    right: 4.5px;
  }

  header h1 {
    font-size: 20px;
    /* padding: 5px 0; */
  }

  header .title {
    display: flex;
    gap: 60px;
    position: relative;
    bottom: 16.5px;
  }

  .search-bar {
    margin: 0px 5px;
    display: block;
    margin-left: 5px;
    position: relative;
    bottom: 9px;
  }

  .search-bar input {
    height: 2.5px;
    width: 150px;
  }

  .search-bar .bi {
    margin-left: 0px;
  }

  .bi {
    font-size: 20px;
    position: relative;
    bottom: -2px;
  }

  #search-button {
    padding-left: 5px;
  }

  .play-content {
    position: relative;
    top: 5px;
  }

  .dot {
    height: 6px;
    width: 6px;
    margin: 0 2px;
  }

  h2 {
    font-size: 25px;
    font-weight: 1000;
    -webkit-text-stroke: 1.2px rgb(86, 86, 86);
    margin-top: 0px;
  }
}

@media (max-width: 550px) {
  .mySlides img {
    height: 250px;
  }

  .play-now {
    position: absolute;
    bottom: 25px;
    width: 160px;
    margin-right: 20px;
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    justify-content: flex-end;
  }

  .play-content {
    position: relative;
    top: 4.5px;
  }

  .play-now i {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .mySlides img {
    height: 230px;
  }

  h2 {
    font-size: 22px;
    font-weight: 1000;
    -webkit-text-stroke: 1.1px rgb(86, 86, 86);
  }

  .game img {
    width: 120px;
    height: 90px;
    margin: 5px;
  }
}

@media (max-width: 450px) {
  .play-now {
    margin-right: 15px;
    bottom: 20px;
    right: 0;
    width: 130px;
    font-size: 17px;
  }

  .play-content {
    position: relative;
    top: 3.5px;
  }

  .play-now i {
    font-size: 21px;
    position: relative;
    top: 0.6px;
  }

  h2 {
    font-size: 23px;
    font-weight: 1000;
    -webkit-text-stroke: 1.2px rgb(86, 86, 86);
  }

  .game img {
    width: 117px;
    height: 87px;
    margin: 5px;
  }
}

@media (max-width: 400px) {
  .mySlides img {
    height: 190px;
  }

  h2 {
    font-size: 20px;
    font-weight: 1000;
    -webkit-text-stroke: 1px rgb(86, 86, 86);
  }

  .play-now {
    bottom: 20px;
    right: 0;
    width: 130px;
    font-size: 15px;
  }

  .play-content {
    position: relative;
    top: 3.7px;
  }

  .play-now i {
    font-size: 19px;
    position: relative;
    top: 1.7px;
  }

  .game img {
    width: 97px;
    height: 67px;
    margin: 5px;

    @media (max-width: 400px) {
      .mySlides img {
        height: 180px;
      }
    }
  }
}