body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('배경.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f5f5dc;
}

h1 {
    margin-right: 500px;
    color: rgb(228, 235, 34);
    font-size: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(61, 38, 11, 0.5);
}

.logo-title {
    display: flex;
}

header .logo {
    width: 60px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 35px;
    color: #fff700;
    font-weight: bold;
}

header .title {
    display: flex;
    gap: 5px;
    position: relative;
    top: 11.9px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.search-bar input {
    padding: 8px;
    font-size: 15px;
    flex: 1 0 auto;
    max-width: 200px;
    margin-left: 10px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #ececec00;
}

.search-bar ::placeholder {
    color: #fff700;
}

.search-bar .bi {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#search-button {
    padding-left: 0px;
    padding-right: 10px;
    border: none;
    background-color: #ececec00;
    cursor: pointer;
}

i {
    font-size: 24px;
}

.game-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
}

.game-info {
    background-color: rgba(0, 0, 0, 0.089);
    padding: 20px;
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* width: calc(100% - 450px); tekken-image와 겹치지 않도록 조정 */
    width: 60%;
    height: 88.5%;
}

.game-info .game-header {
    display: flex;
    align-items: center;
}

.game-info .game-header .game-logo {
    width: 170px;
}

.subway_surfers {
    left: 900px;
    margin-top: 15px;
    width: 40%;
    height: 100%;
    border-top-right-radius: 10px;
    /* 오른쪽 상단 모서리만 둥글게 */
    border-bottom-right-radius: 10px;
    /* 오른쪽 상단 모서리만 둥글게 */

}

.small-subway {
    display: none;
}

.game-info p {
    margin: 10px 0;
    line-height: 1.6;
}

.font {
    color: rgb(217, 217, 217);
    -webkit-text-stroke: 0.8px rgb(83, 83, 83);
    font-size: 18px;
    font-weight: 700;
}

.play-now {
    width: 100px;
    display: flex;
    padding: 7px 7px;
    padding-left: 13px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 17.5px;
}

.play-content {
    position: relative;
    top: 3.7px;
}

.play-now i {
    font-size: 23px;
    position: relative;
    top: 1.4px;
}

div .story1 {
    font-weight: 550;
    margin: 20px 0px;
}

div .story2 {
    display: none;
    font-weight: 550;
    margin: 20px 0px;
}

.details-link {
    color: blue;
}

.details-link2 {
    display: none;
    color: blue;
}

.reviews {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    /* 필요한 경우 줄바꿈을 허용 */
    gap: 10px;
    /* 각 리뷰 간의 간격 설정 */
}

.reviews h2 {
    margin: 0;
    font-size: 20px;
    width: 100%;
    /* 제목이 전체 가로폭을 차지하도록 설정 */
}

.review {
    background-color: #ffffff00;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    padding-left: 0px;
    flex: 1 1 200px;
    /* 각 리뷰가 일정한 크기로 설정되도록 함 */
    max-width: 300px;
    /* 리뷰의 최대 너비 설정 */
    box-sizing: border-box;
    /* 패딩과 마진을 포함한 전체 박스 크기를 설정 */
}

.review span {
    display: block;
    font-weight: bold;
}


.related-games {
    margin-top: 20px;
}

.related-games h2 {
    margin: 0;
    font-size: 20px;
}

.related-game {
    display: inline-block;
    margin: 10px;
}

.related-game img {
    width: 100px;
    height: 100px;
}

.stars {
    color: #000000;
}

@media (max-width: 1024px) {

    .top-bar {
        padding: 5px 0;
        justify-content: center;
    }

    header img.logo {
        width: 50px;
        height: auto;
        margin-left: 10px;
        margin-right: 0;
    }

    header .title {
        padding-left: 5px;
    }

    .search-bar {
        justify-content: flex-end;
        margin-right: 5px;
    }

    .search-bar input {
        max-width: 150px;
        max-height: 10px;
    }

    .search-bar ::placeholder {
        font-size: 13px;
    }

    header h1 {
        font-size: 23px;
    }

    .game-details>p {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    .game-details {
        display: flex;
        height: 100%;
    }

    .game-header {
        height: 80%;
    }

    .game-details {
        width: 195px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .game-container {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 350px;
        margin-bottom: 40px;
        flex-direction: row-reverse;
        /* 순서를 반대로 설정 */
    }

    .game-info {
        background-color: rgba(0, 0, 0, 0.089);
        padding: 20px;
        margin-top: 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 31%;
        height: 88.5%;
        display: flex;
        justify-content: center;
    }

    .game-info {
        display: flex;
        align-items: center;
    }

    .game-info .game-header .game-logo {
        width: 165px;
        /* margin-right: 100px; */
    }
    .game-logo{
        border-bottom: 1px solid rgb(120, 120, 120);
        padding-bottom: 15px;
    }

    .subway_surfers {
        margin-top: 15px;
        width: 63%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        /* 오른쪽 상단 모서리만 둥글게 */
        border-bottom-right-radius: 0px;
        /* 오른쪽 상단 모서리만 둥글게 */

    }

    .game-info p {
        margin: 10px 0;
        line-height: 1.6;
    }

    .play-now {
        width: 100px;
        display: flex;
        padding: 7px 7px;
        padding-left: 13px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 17.5px;
    }
    
    .play-content {
        position: relative;
        top: 3.7px;
    }
    
    .play-now i {
        font-size: 23px;
        position: relative;
        top: 1.4px;
    }

    div.story1 {
        display: none;
    }

    div.story2 {
        display: block;
    }

    .details-link2 {
        display: block;
    }

    .details-link {
        display: none;
    }

    .font {
        font-size: 15px;
    }

}

@media (max-width: 650px) {

    .container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .top-bar {
        flex-direction: column;
        padding-top: 0px;
    }
    .game-logo {
        border-bottom: none;
    }


    header {
        height: 83px;
    }

    header img.logo {
        width: 40px;
        margin: 0px;
        margin-right: 5px;
        position: relative;
        top: 6.5px;
    }

    header .title {
        font-size: 18px;
        margin: 0px;
        position: relative;
        top: 18px;
    }

    .search-bar {
        margin: 0px 5px;
        display: block;
        margin-left: 5px;
        position: relative;
        bottom: -9px;
    }

    .search-bar input {
        height: 2.5px;
        width: 150px;
    }

    .search-bar .bi {
        margin-left: 0px;
    }

    .bi {
        font-size: 20px;
        position: relative;
        bottom: -2px;
    }

    #search-button {
        padding-left: 5px;
    }

    .game-container {
        flex-direction: column;
        height: auto;
    }

    .subway_surfers {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        order: 1;
    }

    .game-info {
        width: 100%;
        height: auto;
        margin-top: 0;
        border-radius: 0 0 10px 10px;
        order: 2;
    }

    .game-info .game-header .game-logo {
        width: 80px;
        margin-right: 20px;
    }

    .play-now {
        width: 100px;
        display: flex;
        padding: 7px 7px;
        padding-left: 13px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 17.5px;
    }
    
    .play-content {
        position: relative;
        top: 1px;
    }
    
    .play-now i {
        position: relative;
        top: 7px;
    }

    .game-info {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .game-header {
        width: 100%;
    }

    .game-details {
        width: calc(100% - 70px);
        justify-content: space-between;
        height: 100%;
        flex-direction: row;
        align-items: center;
        margin-left: 18px;
        margin-right: 10px;
    }

    .game-logo {
        border-bottom: none;
        padding: 0;
        padding-top: 8px;
        margin-bottom: -10px;
    }

    .game-details>p {
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
    }

    .small-subway {
        display: flex;
        width: 50px;
        height: 49px;
        margin-left: 20px;
        border-radius: 10px;
    }

    .game-logo .play-now p {
        margin: 0;
        padding: 0;
    }

    .play-now {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 37px;
        margin: 0;
        padding: 0;
        padding-left: 3px;
    }

    .play-now>i {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .font {
        -webkit-text-stroke: 0.7px rgb(86, 86, 86);
        font-size: 14px;
    }
}