body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #d3a15e;
}

header .logo {
    width: 50px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.search-bar .bi {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}


.game-info {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
}

.game-info .game-header {
    display: flex;
    align-items: center;
}

.game-info .game-header .game-logo {
    width: 100px;
    margin-right: 10px;
}

.game-info p {
    margin: 10px 0;
    line-height: 1.6;
}

.play-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.reviews {
    margin-top: 20px;
}

.reviews h2 {
    margin: 0;
    font-size: 20px;
}

.review {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.review span {
    display: block;
    font-weight: bold;
}

.related-games {
    margin-top: 20px;
}

.related-games h2 {
    margin: 0;
    font-size: 20px;
}

.related-game {
    display: inline-block;
    margin: 10px;
}

.related-game img {
    width: 100px;
    height: 100px;
}
